.board-game__card {
  &__container {
    transform-style: preserve-3d;

    &.active {
      transform: rotateX(-180deg);
    }
    &.inactive {
      @apply opacity-0 cursor-default;
    }
  }

  &__front,
  &__back {
    @apply absolute w-full h-full rounded-md flex items-center justify-center;
    backface-visibility: hidden;
  }

  &__back {
    transform: rotateX(180deg);
  }
}
